<mat-toolbar>
  <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
    <mat-icon *ngIf="!sidenav.opened">
      menu
    </mat-icon>
    <mat-icon *ngIf="sidenav.opened">
      close
    </mat-icon>
  </button>
  4CADIA
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav">
    <div align="center">
      <img class="avatar mat-elevation-z8" src="assets/images/user.png">
      <p class="name">{{currentUser.name}}</p>
      <!-- <p class="dessignation"> Software Enginner</p> -->
    </div>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button">
      <mat-icon>person</mat-icon>
      <span>Profile</span>
    </button>
    <button mat-button class="menu-button">
      <mat-icon>home</mat-icon>
      <span>Home</span>
    </button>
    <button mat-button class="menu-button">
      <mat-icon>info</mat-icon>
      <span>About</span>
    </button>
    <button mat-button class="menu-button">
      <mat-icon>help</mat-icon>
      <span>Help</span>
    </button>

    <mat-divider></mat-divider>

    <button (click)="exitApp()" mat-button class="menu-button">
      <mat-icon>exit_to_app</mat-icon>
      <span>Exit</span>
    </button>

  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content mat-elevation-z8">
      <div class="col-md-4 col-sm-12">
        <mat-card>
          <mat-card-title> Balance
            <mat-divider class="divider-main"></mat-divider>
          </mat-card-title>
          <mat-card-content class="card-content">
            <p>Total credit operations = 10</p>
            <p>Total debit operations = 10</p>
            <p>Final Balance = 10</p>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-md-1 col-sm-12">

      </div>
      <div class="col-md-4 col-sm-12">
        <mat-card>
          <mat-card-title> Extract </mat-card-title>
        </mat-card>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
