<mat-toolbar>
  <mat-toolbar-row>
  <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
    <mat-icon *ngIf="!sidenav.opened">
      menu
    </mat-icon>
    <mat-icon *ngIf="sidenav.opened">
      close
    </mat-icon>
  </button>
  Dashboard
  <span class="span-toolbar" ></span>
  <span class="balance-toolbar" *ngIf="flagLoadingInformations && sidenav.mode=='over'"  >{{finalBalance}} $</span>
  <div *ngIf="!flagLoadingInformations" style="height: 50px;padding-left: 10px;" class="d-flex justify-content-end">
    <div style="margin-top: 10px;" class="spinner-border text-danger" role="status">
      <span class="visually-hidden"></span>
    </div>
  </div>
</mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav">
    <div class=avatar-align>
      <img class="avatar mat-elevation-z8" src="assets/images/boss.png">
    </div>
    <p *ngIf="flagLoadingInformations" class="name">{{currentUser.name}}</p>
    <p class="balance"*ngIf="flagLoadingInformations && sidenav.mode=='side'">{{finalBalance}} $</p>
    <mat-divider></mat-divider>

    <button (click)="exitApp()" mat-button class="menu-button">
      <mat-icon>exit_to_app</mat-icon>
      <span>Exit</span>
    </button>

  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content mat-elevation-z8">
      <mat-tab-group (selectedTabChange)="tabChanged($event)" [selectedIndex]="indexTab" class="mat-tab-label-container">
        <mat-tab *ngFor="let month of months" label={{month}}>
          <div class="card">
            <mat-card>
              <mat-card-title> Balance
                <mat-divider class="divider-main"></mat-divider>
              </mat-card-title>
              <mat-card-content class="card-content">
                <p>Total credit operations = 10</p>
                <p>Total debit operations = 10</p>
                <p>Final Balance = 10</p>
              </mat-card-content>
            </mat-card>
          </div>
        </mat-tab>
    </mat-tab-group>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
