mat-toolbar{
  background: #01579b;
  color: white;
  font-size: 1rem;

}


mat-sidenav{
  margin: 16px;
  width: 200px;
  border-right: none;
  background: #01579b;
  color: white;
  border-radius: 10px;
  padding: 16px;
}


.mat-tab-label-container {
  display: flex;
  flex-grow: 1;
  overflow: hidden;
  z-index: 1;
  overflow-x: scroll !important;
}

.content {
  height: calc(100vh - 98px);
  margin: 16px;
  margin-left: 32px;
  display: flex;
  justify-content:  flex-start;
  align-items: flex-start;
  font-size: 2rem;
  color: black;
  background: white;
  border-radius: 10px;
}

.divider-main {
  background-color: grey;
}

.card {
  padding: 40px;
  height: 100vh;
  overflow: auto;
}

.span-toolbar{
  flex: 1 1 auto;
}
.example-icon {
  padding: 0 14px;
}
.example-spacer {
  flex: 1 1 auto;
}

.menu-button{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1rem;

  mat-icon {
    margin-right: 8px;
  }
}

mat-sidenav-container {
  height: calc(100vh - 65px);
}

mat-card {
  border-radius: 10px;
  padding: 20px;
  align-items: center;
  justify-content: center;

}
.balance{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1rem;
}

.card-content {
  margin-top: 10%;
}

.avatar {
  margin-top: 16px;
  display: flex;
  align-items: center;
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.name {
  margin-top: 8px;
  font-weight: normal;
}

.designation {
  margin-top: 2px;
  font-size: 0.7rem;
  color: lightgrey;
}

mat-divider {
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: rgba(255, 255, 255, 0.5);
}
